<!--<div class="card card-post px-0">-->
<!--  <div *ngIf="post.type !== 'normal'" id="carouselExampleSlidesOnly" class="carousel slide rounded-top"-->
<!--       data-bs-ride="carousel">-->
<!--    <div class="carousel-inner">-->
<!--      <div class="carousel-item image-slide" *ngFor="let image of post.images; let i = index"-->
<!--           [ngClass]="i===0?'active':''">-->
<!--        <img [src]="image.imageUrl" class="d-block w-100 rounded-top" [alt]="image.imageTitle">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title">{{post.title}}</h5>-->
<!--    <p class="card-text">{{post.text}}</p>-->
<!--    <p class="card-text">{{post.type}}</p>-->
<!--    <p class="card-text text-muted">Published: {{post.createdAt | date}}</p>-->
<!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--  </div>-->
<!--</div>-->

