
<!--<form [formGroup]="imagesForm">-->
<!--  <div formArrayName="images">-->
<!--    <ng-container *ngFor="let image of images.controls; let i=index">-->
<!--      <div [formGroupName]="i">-->
<!--        <input-->
<!--          type="text"-->
<!--          class="form-control"-->
<!--          placeholder="Image title"-->
<!--          formControlName="imageTitle"-->
<!--        >-->
<!--        <input-->
<!--          type="text"-->
<!--          class="form-control"-->
<!--          placeholder="Image url"-->
<!--          formControlName="imageUrl"-->
<!--        >-->
<!--      </div>-->

<!--    </ng-container>-->
<!--  </div>-->

<!--</form>-->
<!--<div>{{imagesForm.value | json}}</div>-->
